<footer id="contact" class="footer">
  <div class="container">
    <div class="footer-grid">
      <div>
        <h3>ARPG</h3>
        <p>Autonomous Robotics and Perception Group<br>
        Department of Computer Science<br>
        University of Colorado Boulder<br>
        ECES 111, 116, 130<br>
        Boulder, CO 80309</p>
      </div>
      <div>
        <h3>Links</h3>
        <ul>
          <li><a href="https://github.com/arpg">GitHub</a></li>
          <li><a href="https://scholar.google.com/citations?user=lysFu30AAAAJ">Google Scholar</a></li>
          <li><a href="/todayspaper/">Today's Paper</a></li>
          <li><a href="https://vlm-robotics.dev">VLA Textbook</a></li>
          <li><a href="https://ristoffer.ch">PI Homepage</a></li>
        </ul>
      </div>
      <div>
        <h3>Contact</h3>
        <ul>
          <li><a href="mailto:Christoffer.Heckman@colorado.edu">Email</a></li>
          <li><a href="https://www.colorado.edu/cs/">CU CS Department</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      &copy; {{ now.Year }} ARPG, University of Colorado Boulder
    </div>
  </div>
</footer>
